<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Pay</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.hnaht95.pay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sochipay</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CKSharingSupported</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>abaapp</string>
		<string>abbankmobile</string>
		<string>acbone</string>
		<string>agribankmobile</string>
		<string>baovietmobile</string>
		<string>bidv.smartbanking.partner</string>
		<string>cake.vn</string>
		<string>cimb</string>
		<string>coopbankmobile</string>
		<string>eximbankmobile</string>
		<string>hdbankmobile</string>
		<string>hydro</string>
		<string>kienlongbankmobilebanking</string>
		<string>lv24h</string>
		<string>mbbank</string>
		<string>myvib</string>
		<string>myvib2</string>
		<string>namabankmobile</string>
		<string>ncbizimobile</string>
		<string>newomni-app</string>
		<string>oceanbankmobilebanking</string>
		<string>plus</string>
		<string>publicbankmobile</string>
		<string>pvcombankapp</string>
		<string>qpaymobile</string>
		<string>saigonbankmobilebanking</string>
		<string>scbmobilebanking</string>
		<string>seamobile</string>
		<string>shbmobile</string>
		<string>shinhanglbvnbank</string>
		<string>tcb</string>
		<string>vabmobilebanking</string>
		<string>vietbankmobilebanking</string>
		<string>vietcombankmobile</string>
		<string>vietinbankipay</string>
		<string>vpbankneo</string>
		<string>wvbs</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Pay dùng camera để quét mã QR thanh toán.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Pay dùng micro để nghe bạn đọc khoản chi, ví dụ "35k cafe".</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Pay chuyển giọng nói thành chữ để ghi khoản chi.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
